body{
	background-color: lightblue;	
}
h1{
	letter-spacing: 10px;
}
p{
	text-align: justify;
	text-indent: 30px;
}
p{
	text-align: justify;
	text-indent: 30px;
}
#a1{
	width: 150px;
	height: 250px;
	margin: 15px;
	box-shadow: -7px 10px 10px black;
	
}
#a2{
	width: 225px;
	height: 200px;
	margin: 15px;
	box-shadow: 7px 10px 10px black;
}